<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
		<script type="text/javascript" src="../js/vue.js" ></script>
	</head>
	<body>
	<div class="app">
		<a v-bind:href="a">百度</a>必须输入网址
		<input v-model="a" type="text"/>
		<br />
		<a :href="b">简写</a>
		<input v-model="b" type="text"/>
	</div>
	<script type="text/javascript">
		var app = new Vue({
			el:".app",
			data:{
				a:"",
				b:"http://www.taobao.com"
			}
		})
	</script>
	</body>
</html>
