<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
		<script type="text/javascript" src="../js/vue.js" ></script>
	</head>
	<body>
	<div class="app">
		<input type="radio" value="One" v-model="a" />
		<input type="radio" value="Two" v-model="a" />
		{{ "点记得的按钮是"+a }} <br /><br />
		
		<input type="checkbox" value="字母a" v-model="b" />
		<input type="checkbox" value="字母b" v-model="b" />
		<input type="checkbox" value="字母c" v-model="b" />
		{{ b }}<br<br />
		
		<select v-model="c">
			<option value="1111">1</option>
			<option value="222">2</option>
			<option value="3333">3</option>
		</select>
		{{ c }}<br /><br />
		
		<select v-model="d" multiple>展开的
			<option value="1111">1</option>
			<option value="222">2</option>
			<option value="3333">3</option>
		</select>
		{{ d }}<br /><br />
		
		<!--失去焦点-->
		<input type="text" v-model.lazy="e" />
		{{ "按enter显示文本是"+e }}<br />
		
		<!--去掉首尾的空格-->
		<input type="text" v-model.trim="f" />
		{{ "显示文本是"+f }}
	</div>
	<script type="text/javascript">
		new Vue({
			el:'.app',
			data:{
				a:'',
				b:[],
				c:'',
				d:[],
				e:'',
				f:''
			}
		})
	</script>
	</body>
</html>
